:root {
  --background: hsl(229, 15%, 7%);
  --foreground: hsl(229, 25%, 22%);
  --foreground-hover: hsl(229, 25%, 35%);
  --foreground-active: hsl(46, 35%, 47%);
  --font: hsl(46, 30%, 88%);
  --width: max(1024px, 100vw);
  --height: max(720px, 100vh);
  --img-size: calc(var(--height) * 0.6);
  --radius1: 2px;
  --radius2: 3px;
}

body {
  width: var(--width);
  height: var(--height);
  background-color: black;
  color: var(--font);
  font-family: 'Oxanium', cursive;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */                    

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */                                
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

input {
  font-family: 'Oxanium', cursive;
  color: var(--font);
  background: var(--foreground);
  border-radius: var(--radius1);
  text-align: center;
  -webkit-transition: .1s; /* 0.1 seconds transition on hover */
  transition: .1s;
  transition-property: background-color;
}

input:hover {
  background-color: var(--foreground-hover);
}

p {
  font-size: 16px;
}

/* SIDEBAR */
/* Example ui containing class with specific width - elements will auto-fit */
.sidebar {
  position: relative;
  height: var(--height);
  width: 300px;
  z-index: 2;
  background-color: var(--background);
}

#left-sidebar {
  float: left;
}

#right-sidebar {
  float: right;
}
/* ui-container should be placed within the parent UI div. */
/* These divs help align the elements they contain.        */
#left-ui-container {
  margin: 5px 5px 0px 0px;
}

#right-ui-container {
  margin: 5px 5px 0px 0px;
}

#canvas {
  width: var(--width);
  height: var(--height);
  margin: 0;
  background-color: black;
}

/* IMAGE */

#image {
  position: fixed;
  height: var(--img-size);
  width: var(--img-size);
  margin-left: calc((var(--width) - var(--img-size)) / 2);
  margin-top: calc((var(--height) - var(--img-size)) / 2);
  background-image: url(../img/planet.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

/* SLIDER */

.sliderDiv {
  height: 50px;
  margin-left: 5px;
}

.sliderTopDiv {
  height: 20px;
}

.sliderField {
  float: right;
  line-height: 20px;
  height: 20px;
  width: 50px;
  font-size: 16px;
  padding-top: 2px;
}

.sliderText {
  float: left;
  line-height: 24px;
  height: 20px;
  margin-top: 0;
}

.sliderContainer {
  width: 100%; /* Width of the outside container */
  height: 30px;
  position: relative;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  -moz-appearance: none; /* Firefox */
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  border-radius: var(--radius1);
  background: var(--foreground);
  outline: none; /* Remove outline */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: .2s;
  transition-property: background-color;
  margin-left: 0;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: var(--foreground);
  border-radius: var(--radius1);
  border: none;
  outline: none;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  -moz-appearance: none; /* Firefox */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  border-radius: var(--radius1);
  background: var(--foreground-active);
  cursor: pointer; /* Cursor on hover */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: background-color .2s;
}

.slider::-moz-range-thumb {
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  border-radius: var(--radius1);
  background: var(--foreground-active);
  border: none;
  cursor: pointer; /* Cursor on hover */
}

/* Mouse-over effects */

.sliderContainer:hover .slider::-webkit-slider-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
}

.sliderContainer:hover .slider::-moz-range-thumb {
width: 20px; /* Set a specific slider handle width */
height: 20px; /* Slider handle height */
}

.sliderContainer:hover .slider {
  background-color: var(--foreground-hover); 
}

.sliderContainer:hover .slider::-moz-range-track {
  background-color: var(--foreground-hover); 
}

/* supress spinner buttons in slider input fields */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* BUTTON */

.button-row {
  margin-bottom: 8px;
}

.button {
  display: inline-block;
  height: 30px;
  margin-left: 5px;
  border-radius: var(--radius1);
  line-height: 32px;
  background-color: var(--foreground);
  color: var(--font);
}

.button:hover {
  background-color: var(--foreground-hover);
}

.button:active {
  background-color: var(--foreground-active);
}

.button-text {
  z-index: 6;
  text-align: center;
}

/* TITLE BOX */

.title-box {
  height: 110px;
  margin: 5px 5px 8px 5px;
  width: calc(100% - 9px); /* no idea why is this -9, not -10, but it works! */
  border-style: solid;
  border-width: 2px;
  border-color: hsl(229, 25%, 22%);
  border-radius: var(--radius2);
}

.title-text {
  text-align: center;
  margin-top: 20px;
}

.strapline-text {
  text-align: center;
  margin-top: 20px;
}

/* TEXT BOX */

.text-box {
  width: calc(100% - 29px); /* no idea why is this -29, not -30, but it works! */
  margin: 0px 5px 8px 5px;
  padding: 8px 10px 6px 10px;
  line-height: 24px;
  border-style: solid;
  border-width: 2px;
  border-color: hsl(229, 25%, 22%);
  border-radius: var(--radius2);
}

/* SCROLLABLE TEXT BOX */

.scroll-box {
  width: calc(100% - 29px); /* no idea why is this -29, not -30, but it works! */
  margin: 0px 5px 8px 5px;
  padding: 8px 10px 6px 10px;
  line-height: 24px;
  overflow-x: hidden;
  overflow-y: auto;
  border-style: solid;
  border-width: 2px;
  border-color: hsl(229, 25%, 22%);
  border-radius: var(--radius2);
}

/* SCROLLABLE CLASS */

.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--foreground-active) var(--foreground);
}
.scroll::-webkit-scrollbar-track {
  background: var(--foreground);
}
.scroll::-webkit-scrollbar-thumb {
  background-color: var(--foreground-active) ;
  border-radius: var(--radius1);
  border: none;
}

.scroll::-webkit-scrollbar-track:vertical:hover {
  background: var(--foreground-hover);
}

/* UI SHOW / HIDE */

#show-UI {
  position: absolute;
  left: 0px;
  margin-top: 5px;
  width: 30px;
  text-align: center;
}

div#Modular_UI {
  position: relative;
}

div#Modular_UI:after {
  opacity: 0;
  content: "";
}

/* Tooltip: contains dimensions relative to specific UI div width used */
div#Modular_UI:hover::after {
  content: "Click to hide UI";
  position: absolute;
  top: 4.2em;
  left: 3.52em;
  width: 158px;
  text-align: center;
  border-radius: var(--radius1);
  padding: 8px;
  color: var(--font);
  background-color: var(--foreground);
  opacity: 1;
  transition: opacity 0s ease-in 0.5s;
  z-index: 3;
}

/* hide outlines for Firefox */

input {padding:0; border:0;}
input::-moz-focus-inner {padding:0; border:0;}

/* temporary DEV dialogue */
#dev-text-div {
  height: 26px;
  width: 160px;
  border-radius: var(--radius1);
  padding-top: 10px;
  background-color: hsl(229, 22%, 10%);
  margin-left: calc(50% - 80px);
  margin-top: calc(50% - 13px);
  opacity: 0.6;
}